.select-button-content
  display: flex
  flex-direction: column
  justify-content: space-between
  background-color: #F6F6F6


.button-block
  display: flex
  justify-content: space-between

.dropdown
  position: relative
  display: flex
  flex-direction: column
  background-color: #F6F6F6

  select
    width: 161px
    padding: 5px
    font-size: 16px
    margin-left: 52%

  .button
    transition: margin-top 0.3s ease
    margin-top: 10px
    padding: 10px
    background-color: #1D1D1F
    color: #fff

  &.open .button
    margin-top: 150px
    padding: 10px

.button-action
  width: 48%
  margin-bottom: 20px
  padding: 10px

.black-button
  background-color: #1D1D1F
  color: white
  padding: 10px

select
  background-color: #F6F6F6

  