@media(max-width: 1225px)
    .container 
        padding: 40px

    .product-card 
        min-height: 395px !important

@media(max-width: 970px)
    .container 
        padding: 40px

    nav ul 
        display: flex
        justify-content: center
        flex-direction: column

    .slider-price-menu-block
        display: flex
        flex-wrap: wrap

    .slider-block
        width: 100% !important

    .order-block
        width: 100% !important
  
@media(max-width: 767px)

    .container 
        padding: 20px

    .header-section
        display: flex
        justify-content: center
        flex-direction: column

    .icon 
        padding-top: 0 !important 

    .search-container 
        width: 10%
        margin-bottom: 15px
        padding-left: 2%

    .icon-block-left
        width: 100%
        display: flex
        justify-content: flex-start

    .logo-block
        width: 100%
        margin-top: 5%
        margin-bottom: 15%
        display: flex
        justify-content: center

    .icon-block-right
        width: 100%
        display: flex
        justify-content: center

    nav ul 
        display: flex
        justify-content: center
        flex-direction: column 
        a 
            width: 100%
            display: flex
            justify-content: center

    .footer-block
        display: flex
        flex-wrap: wrap

    .about-us-block
        width: 100% !important

    .footer-menu-block
        width: 100% !important

    .form-socila-block
        width: 100% !important

    .photo-block
        height: 400px !important

    .product-card
        // border: 1px solid red
        height: 500px
        img 
            height: 350px !important
