@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
.icon-heart {
  width: 18.7px;
  height: 17.7px;
  position: relative;
}
.icon-heart span {
  position: absolute;
  top: 82%;
  left: 33%;
  font-size: 9px;
}

.icon-bag {
  width: 17.3px;
  height: 19.1px;
}

.icon-user {
  width: 17.3px;
  height: 17.7px;
}

.icon-tell {
  width: 17.5px;
  height: 17.9px;
}

.icon-mail {
  width: 21.2px;
  height: 14.5px;
}

.icon-search {
  width: 17.3px;
  height: 17.7px;
}

.icon {
  display: inline-block;
  padding-top: 15%;
  height: 19px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: opacity 0.3s ease;
}

.icon .filled {
  opacity: 0;
}

.icon:hover .outline {
  opacity: 0;
}

.icon:hover .filled {
  opacity: 1;
}

.color-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swatch {
  position: relative;
  margin: 0.5rem;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  line-height: 15px;
  display: inline-block;
}
.swatch > [type=radio], .swatch > [type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
.swatch > [type=radio] + label, .swatch > [type=checkbox] + label {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  line-height: 15px;
  text-align: center;
  position: absolute;
  transition: all 0.1s ease-in-out;
}
.swatch > [type=radio] + label i, .swatch > [type=checkbox] + label i {
  opacity: 0;
  font-size: 3rem;
  transition: opacity 0.1s;
}
.swatch > [type=radio]:checked + label i, .swatch > [type=checkbox]:checked + label i {
  opacity: 1;
}
.swatch.pink > [type=radio] + label, .swatch.pink > [type=checkbox] + label {
  background-color: #E8CDBF;
  color: #fff;
}
.swatch.gray > [type=radio] + label, .swatch.gray > [type=checkbox] + label {
  background-color: #D6D6D6;
  color: #fff;
}
.swatch.orange > [type=radio] + label, .swatch.orange > [type=checkbox] + label {
  background-color: #E9D983;
  color: #fff;
}
.swatch > [type=radio]:checked + label, .swatch > [type=checkbox]:checked + label {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  line-height: 16px;
  transition: all 0.1s ease-in-out;
}
.swatch > [type=radio]:checked + label i, .swatch > [type=checkbox]:checked + label i {
  opacity: 1;
  transition: opacity 0.1s;
  color: black;
  font-size: 13px !important;
  top: -73%;
  left: -46%;
}

.select-button-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-block {
  display: flex;
  justify-content: space-between;
}
.button-block button {
  border: none;
  transition: 0.3s;
  text-transform: uppercase;
}
.button-block button:hover {
  background-color: #1D1D1F;
  color: #fff;
}

.dropdown {
  margin-top: -20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #fff 52%, #F6F6F6 48%);
}
.dropdown button {
  transition: 0.3s;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.3s;
}
.dropdown button:hover {
  background-color: #F0F0F0;
  color: black;
}
.dropdown select {
  width: 161px;
  padding: 5px;
  font-size: 16px;
  margin-left: 52%;
  margin-top: 20px;
}
.dropdown .button {
  transition: margin-top 0.3s ease;
  margin-top: 10px;
  padding: 10px;
  background-color: #1D1D1F;
  color: #fff;
}
.dropdown.open .button {
  margin-top: 150px;
  padding: 10px;
}

.button-action {
  width: 48%;
  margin-bottom: 20px;
  padding: 10px;
}

.black-button {
  background-color: #1D1D1F;
  color: white;
  padding: 10px;
}

select {
  background-color: #F6F6F6;
}

.hidden {
  display: none;
  transition: 0.3s;
}

#description {
  background-color: black;
  color: white;
  padding: 15px;
}

.popup-block {
  display: flex;
  justify-content: space-between;
}

.description p {
  font-size: 18px;
}

.proceed-checkout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkout-button a {
  background: #000000;
  color: #fff;
  border: none;
  font-size: 18px;
  margin-left: 60px;
  padding: 0px;
  text-transform: uppercase;
}

/* Применяем стили к тегу <a> */
.footer-menu-block a,
.menu-items a {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  font-size: 22px;
  color: black;
  padding-bottom: 5px;
}
.footer-menu-block a::after,
.menu-items a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #000;
  /* Цвет границы */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transform: translateX(-50%);
}
.footer-menu-block a:hover::after,
.menu-items a:hover::after {
  width: 200%;
  /* Увеличиваем ширину на 200% */
  left: -50%;
  /* Смещаем псевдоэлемент влево на 50% */
}
.footer-menu-block a:hover::before,
.menu-items a:hover::before {
  width: 200%;
  /* Увеличиваем ширину на 200% */
  right: -50%;
  /* Смещаем псевдоэлемент вправо на 50% */
}
.footer-menu-block a::before,
.menu-items a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background-color: #000;
  /* Цвет границы */
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
  transform: translateX(50%);
}

/* Добавляем псевдоэлемент ::after */
/* Применяем стиль при наведении на тег <a> */
/* Применяем стиль для псевдоэлемента при наведении на тег <a> */
/* Добавляем дополнительный псевдоэлемент ::before */
input {
  border: none;
  border-bottom: 1px solid #000;
}

.search-container {
  position: relative;
  display: inline-block;
}

#search-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#search-field {
  width: 0;
  padding: 0;
  transition: width 0.3s ease;
  position: absolute;
  margin-top: 5px;
  top: 50%;
  left: 40px;
  /* Расстояние между иконкой и полем поиска */
  transform: translateY(-50%);
}
#search-field.active {
  width: 200px;
  /* Ширина развернутого поля поиска */
  padding: 5px;
}

.icon {
  position: relative;
  display: inline-block;
}

.counter {
  position: absolute;
  top: 26.5px;
  right: -4px;
  width: 24px;
  height: 24px;
  color: black;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 10px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

.block-number-goods {
  position: relative;
}
.block-number-goods span {
  position: absolute;
  left: 6px;
  top: 8px;
  color: black;
  font-size: 10px;
}

/* Общие стили для контейнера слайдера */
/* Общие стили для контейнера слайдера */
.main {
  width: 100%;
  /* Ширина контейнера */
}

/* Стили для основного слайдера */
.slider-for {
  width: 100%;
  /* Ширина основного слайдера */
}
.slider-for div {
  width: 100%;
  /* Ширина слайда */
}
.slider-for img {
  width: 100%;
  /* Ширина изображения в слайде */
  height: auto;
  /* Автоматическая высота изображения */
}

/* Стили для навигационного слайдера */
.slider-nav {
  width: 100%;
  /* Ширина навигационного слайдера */
  display: flex;
  /* Отображение слайдов в ряд */
  justify-content: center;
  /* Выравнивание слайдов по центру */
  margin-top: 10px;
  /* Отступ сверху */
}
.slider-nav div {
  /* Отступ между слайдами */
}
.slider-nav img {
  width: 100%;
  /* Ширина изображения в навигационном слайде */
  height: auto;
  /* Автоматическая высота изображения */
}

/* Стили активного навигационного слайда */
.slick-active img {
  border: 1px solid #DFDFDF;
}

.main {
  width: 104% !important;
}

.slider {
  width: 100%;
}

.slide {
  height: 200px;
  background-color: #ccc;
  text-align: center;
  line-height: 200px;
  font-size: 24px;
  color: #fff;
}

.slider-nav .slick {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.slider-nav .slick-slide {
  margin: 0 20px;
}
.slider-nav .slick-list {
  margin-left: -20px;
  margin-right: -20px;
}

.slider-two .slick {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.slider-two .slick-slide {
  margin: 0 20px;
}
.slider-two .slick-list {
  margin-left: -20px;
  margin-right: -20px;
}

.slider-nav-block {
  position: relative;
}

.slider-one-button-left {
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-one-button-right {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-one-button-left img:hover {
  filter: invert(100%);
  cursor: pointer;
}

.slider-one-button-right img:hover {
  filter: invert(100%);
  cursor: pointer;
}

.slider-block-two {
  position: relative;
}

.slider-two-button-left {
  position: absolute;
  left: -7%;
  top: 30%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-two-button-right {
  position: absolute;
  right: -7%;
  top: 30%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-two-button-left img:hover {
  filter: invert(100%);
  cursor: pointer;
}

.slider-two-button-right img:hover {
  filter: invert(100%);
  cursor: pointer;
}

.photo-block {
  border: 1px solid #C8C8C8;
  position: relative;
  width: 600px;
  padding-right: 1px;
  /* Задайте желаемую ширину */
  height: 600px;
  /* Задайте желаемую высоту */
  overflow: hidden;
}
.photo-block img {
  max-width: 100%;
  /* height: auto; */
  height: 100%;
}
.photo-block video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: none;
}
.photo-block:hover video {
  display: block;
}

.product-card {
  width: 300px;
  min-height: 365px;
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.product-card img {
  width: 99%;
  border: 1px solid #D6D6D6;
  height: 300px;
}

.price p {
  color: black;
  font-size: 18px;
  padding-left: 20px;
}

.name {
  display: block;
  width: 99%;
  border: 1px solid #D6D6D6;
}

.block-add-cart {
  background-color: #1D1D1F;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
}
.block-add-cart button {
  border: none;
  background: #1D1D1F;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.block-add-cart button:hover {
  cursor: pointer;
}

.product-card img {
  height: 230px;
}
.product-card .price {
  visibility: hidden;
  width: 100%;
  position: absolute;
  color: #fff;
  font-size: 18px;
}
.product-card .price p {
  color: black;
}
.product-card:hover .price {
  visibility: inherit;
}

/* icon */
.icon-checked {
  width: 26px;
  height: 24px;
  position: absolute;
  top: -22%;
  right: 10%;
  z-index: 10000 !important;
}
.icon-checked img {
  border: none !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* Замените на цвет прелоадера */
  z-index: 9999;
}

.content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
  position: relative;
  top: -100px;
}

/* Анимация прелоадера */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloader:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 3px solid #000;
  /* Замените на цвет обводки прелоадера */
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.content.show-content {
  opacity: 1;
  visibility: visible;
  top: 0;
}

/* Работает в Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid white;
}

@media (max-width: 1225px) {
  .container {
    padding: 40px;
  }
  .product-card {
    min-height: 395px !important;
  }
  .slider-one-button-left {
    display: none !important;
  }
  .slider-one-button-right {
    display: none !important;
  }
  .slider-two-button-left {
    display: none !important;
  }
  .slider-two-button-right {
    display: none !important;
  }
}
@media (max-width: 970px) {
  .container {
    padding: 40px;
  }
  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  nav ul a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menu-icon {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFDFDF;
    padding: 10px;
    border-radius: 50%;
    color: #595959;
    transition: 0.3s;
  }
  .menu-icon:hover {
    background-color: #000;
    color: #fff;
  }
  .menu-items {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .menu-items.active {
    display: block;
    height: auto;
    transition: height 0.3s ease;
  }
  .slider-price-menu-block {
    display: flex;
    flex-wrap: wrap;
  }
  .slider-block {
    width: 100% !important;
  }
  .order-block {
    width: 100% !important;
  }
  .slider-one-button-left {
    display: none !important;
  }
  .slider-one-button-right {
    display: none !important;
  }
  .slider-two-button-left {
    display: none !important;
  }
  .slider-two-button-right {
    display: none !important;
  }
  .popup-block {
    display: flex;
    flex-direction: column;
  }
  .description {
    width: 100%;
    text-align: center;
  }
  .proceed-checkout {
    width: 50%;
    padding-top: 5%;
    display: flex;
    justify-content: start;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 20px;
  }
  .header-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .icon {
    padding-top: 0 !important;
  }
  .search-container {
    width: 10%;
    margin-bottom: 15px;
    padding-left: 2%;
  }
  .icon-block-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .logo-block {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
  }
  .icon-block-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  nav ul a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-block {
    display: flex;
    flex-wrap: wrap;
  }
  .about-us-block {
    width: 100% !important;
  }
  .footer-menu-block {
    width: 100% !important;
  }
  .form-socila-block {
    width: 100% !important;
  }
  .photo-block {
    height: 400px !important;
  }
  .product-card {
    height: 500px;
  }
  .product-card img {
    height: 350px !important;
  }
  .slider-one-button-left {
    display: none !important;
  }
  .slider-one-button-right {
    display: none !important;
  }
  .slider-two-button-left {
    display: none !important;
  }
  .slider-two-button-right {
    display: none !important;
  }
  .counter {
    position: absolute;
    top: 1.5px !important;
  }
  .icon-heart span {
    position: absolute;
    top: 24%;
  }
  .popup-block {
    display: flex;
    flex-direction: column;
  }
  .description {
    text-align: center;
  }
  .proceed-checkout {
    width: 100%;
    margin-top: 5%;
    justify-content: center;
  }
}
::-moz-placeholder {
  color: #D6D6D6;
}
::placeholder {
  color: #D6D6D6;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Lato";
}

h1 {
  font-weight: 400;
  font-size: 46px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.icon-block-left {
  display: flex;
  align-self: flex-end;
}

.icon-block-right {
  display: flex;
  align-self: flex-end;
}

.menu-section {
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  margin-top: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
nav ul li a {
  font-family: "Lato";
  font-size: 18px !important;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.slider-price-menu-block {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.slider-block {
  width: 59%;
}

.order-block {
  width: 30%;
}

.order-two-name {
  font-size: 30px;
}

.options-block {
  display: flex;
  justify-content: space-between;
}

.price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-block span {
  font-size: 34px;
}
.price-block p {
  font-size: 18px;
  color: #9e9e9e;
}

.slider-section-two {
  margin-top: 100px;
  margin-bottom: 100px;
}
.slider-section-two h2 {
  font-size: 35px;
  font-weight: 400;
}

footer {
  background-color: #F6F6F6;
}

.footer-block {
  display: flex;
  justify-content: space-between;
}

.about-us-block {
  width: 30%;
}
.about-us-block h3 {
  font-size: 34px;
}
.about-us-block p {
  font-size: 18px;
}

.footer-menu-block {
  width: 30%;
}
.footer-menu-block h3 {
  font-size: 34px;
}
.footer-menu-block ul li a {
  color: #1d1d1f;
  font-size: 18px !important;
}

.form-socila-block {
  width: 30%;
}
.form-socila-block h3 {
  font-size: 34px;
}
.form-socila-block form {
  display: flex;
  flex-direction: column;
}
.form-socila-block form input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #323232;
  background-color: #F6F6F6;
  padding: 20px;
}
.form-socila-block button {
  width: 100%;
  background-color: #323232;
  color: #fff;
  margin-top: 30px;
  padding: 20px;
  transition: 0.3s;
  border: 1px solid black;
  font-size: 18px;
}
.form-socila-block button:hover {
  background-color: #F0F0F0;
  color: black;
  cursor: pointer;
}

.social-block {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.social-icon {
  width: 32px;
  height: 32px;
  border: 3px solid #323232;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
.social-icon img {
  width: 18px;
  height: 14px;
}
.social-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-black-block {
  background-color: #1D1D1F;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.about-us-block h3 {
  font-weight: 400;
}

.footer-menu-block h3 {
  font-weight: 400;
}

.form-socila-block h3 {
  font-weight: 400;
}

.menu-icon {
  display: none;
}/*# sourceMappingURL=style.css.map */