@import "top-icons-style"
@import "radio-button-style"

body
    padding: 0px
    margin: 0px

ul 
    padding: 0px
    margin: 0px
li 
    padding: 0px
    margin: 0px
    list-style-type: none
a 
    text-decoration: none

.container 
    width: 1116px
    margin: 0 auto

.header-section 
    display: flex
    justify-content: space-between  
    margin-top: 50px

.icon-block-left 
    display: flex
    align-self: flex-end

.icon-block-right
    display: flex
    align-self: flex-end
   
.menu-section 
    border-top: 1px solid #D7D7D7
    border-bottom: 1px solid #D7D7D7
    margin-top: 50px

nav ul 
    display: flex
    justify-content: space-between
    li
        padding-top: 20px !important
        padding-bottom: 20px !important 
        a 
            font-family: "Lato"
            font-size: 18px
            font-weight: normal
            font-style: normal
            color: #000000

.slider-price-menu-block
    display: flex
    justify-content: space-between

.slider-block
    width: 57%
    border: 1px solid #000

.order-block
    width: 30%
    border: 1px solid #000

