@import "top-icons-style"
@import "radio-button-style"
@import "action-order-block-style.sass"
@import "popup-style.sass"
@import "a-hover-style.sass"
@import "search-input-style.sass"
@import "icon-counter-style.sass"
@import "slider-style.sass"
@import "hover-video-style.sass"
@import "product-cart-style.sass"


body
    padding: 0px
    margin: 0px

ul 
    padding: 0px
    margin: 0px
li 
    padding: 0px
    margin: 0px
    list-style-type: none
a 
    text-decoration: none

.container 
    max-width: 1116px
    margin: 0 auto
    // padding: 40px

.header-section 
    display: flex
    justify-content: space-between  
    margin-top: 50px

.icon-block-left 
    display: flex
    align-self: flex-end

.icon-block-right
    display: flex
    align-self: flex-end
   
.menu-section 
    border-top: 1px solid #D7D7D7
    border-bottom: 1px solid #D7D7D7
    margin-top: 50px

nav ul 
    display: flex
    justify-content: space-between
    li
        padding-top: 20px !important
        padding-bottom: 20px !important 
        a 
            font-family: "Lato"
            font-size: 18px !important
            font-weight: normal
            font-style: normal
            color: #000000

.slider-price-menu-block
    display: flex
    justify-content: space-between
    margin-top: 100px

.slider-block
    width: 57%
    border: 1px solid #000

.order-block
    width: 30%
    border: 1px solid #000

.options-block
    display: flex
    justify-content: space-between

.price-block
    display: flex
    justify-content: space-between
    align-items: center
    span 
        font-size: 34px
    p 
        font-size: 18px
        color: #9e9e9e

.slider-section-two
    border: 1px solid #9e9e9e
    margin-top: 100px
    margin-bottom: 100px

footer
    background-color: #F6F6F6
.footer-block
    display: flex
    justify-content: space-between

.about-us-block
    width: 30%
    h3 
        font-size: 34px
    p 
        font-size: 18px


.footer-menu-block
    width: 30%
    h3 
        font-size: 34px
    ul
        li
            a 
                color: #1d1d1f
                font-size: 18px !important


.form-socila-block
    width: 30%
    h3 
        font-size: 34px
    form 
        display: flex
        flex-direction: column
        input 
            width: 100%
            box-sizing: border-box
            border: none
            border-bottom: 1px solid #323232
            background-color: #F6F6F6
            padding: 20px
    button 
        width: 100%
        background-color: #323232
        color: #fff
        margin-top: 30px
        padding: 20px

.social-block
    display: flex
    justify-content: space-between
    margin-top: 50px
    margin-bottom: 50px

.social-icon 
    width: 32px
    height: 32px
    border: 3px solid #323232
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    // padding: 5px
    

.footer-black-block
    background-color: #1D1D1F
    color: #fff
    text-align: center
    padding: 20px
